.contact-container {
  /* height: 100vh; */
  box-shadow: -10px 0 30px rgb(0 0 0/5%);
  background-color: #f7f7f7;
}
.contact-me {
  color: #000;
  font-family: syne, Sans-serif !important;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.3em;
}
.contact-header {
  display: inline-block;
  margin-bottom: 10px;
  text-transform: uppercase;
  position: relative;
}
.form-control:focus {
  box-shadow: none !important;
  background-color: #eaeaea;
  color: #868a9b;
}
.form-control {
  background-color: #eaeaea;
  color: #868a9b;
  /* padding: 5px 20px; */
  /* height: 50px; */
  border-radius: 0;
  border: none;
}
.divider-1 {
  height: 1px;
  margin: 0.5em 0px 1.5em;
}

.divider-1 span {
  display: block;
  width: 50px;
  height: 2px;
  background-color: #868a9b;
}
.heading-1 {
  font-size: 1em;
  letter-spacing: 0.08em;
  font-weight: 300;
  color: #868a9b;
  text-shadow: 0 1px 1px #ffffff;
  text-transform: uppercase;
  font-family: syne, Sans-serif !important;
}
